.studentList {
  width: 20vw;
  height: 90vh;
  display: flex;
}

ul {
  width: 20vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
  width: 6.5vw;
  height: 10vh;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  /* position: relative; */
  color: #919191;
}

a {
  text-decoration-line: none;
  color: inherit;
  vertical-align: bottom;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}